html {
    
    font-size: 62.5%; /* Facilita rem = 10px */
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%; 
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

$negro: #000010;
$negroClaro: #1B1D1E;
$azulMuyOscuro: #1b2c4e;
$azulOscuro: #10117F;
$azulClaro: #3234ce;
$grisAzulado: #2C3032;
$gris: #e2e2e2;
$grisOscuro: #6b6b6b;
$blanco: #ffffff;

$fuente-pricipal: "Rubik", sans-serif;

body {
    background-color: $negroClaro;
}

.contenedor {
    .contenedor_barra-principal {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $azulOscuro;
        margin: 0;
        padding: 1.7rem;
        font-family: $fuente-pricipal;

        .buscador {
            display: flex;

            .titulo {
                font-size: 3rem;
                margin: 0;
                color: $blanco;
                margin-right: 3rem;
            }
            input {
                padding: 1rem 13rem 1rem 1.2rem;
                border: 1px solid $blanco;
                border-radius: 5px;
                font-size: 1.6rem;
                margin-right: 1rem;
            }
            .boton {
                padding: 1rem 2rem;
                background-color: $negro;
                color: $blanco;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 1.6rem;
            }
        }

        .navegacion {
            display: flex;
            align-items: center;
            gap: 2rem;
            
            a {
                font-size: 1.8rem;
                color: $blanco;
                padding: 1rem 2.7rem 1rem 1rem;

                &:hover {
                    color: $gris;
                }
            }

            i {
                font-size: 2rem;
                color: $blanco;

                &:hover {
                    color: $gris;
                }
            }
        }
    }

    .contenedor_barra-secundario {
        background-color: $grisAzulado;
        padding: 1.6rem;
        .navegacion {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8rem;

            a {
                display: flex;
                gap: 1rem;
                font-size: 1.6rem;
                color: $gris;
                align-items: center;

                i {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

.contenedor_main {
    color: $blanco;
    padding-bottom: 10rem;
    
    h2 {
        text-align: center;
        font-size: 2.4rem;
        padding: 2rem;
    }

    .filtros_basicos {
        display: flex;
        justify-content: end;
        padding-right: 29rem;
        margin: 2rem;
        font-size: 2rem;
        gap: 3rem;

        i {
            color: $azulClaro;
        }
    }

    .contenedor_productos {
        display: flex;
        max-width: 1100px;
        width: 90%;
        margin: 0 auto;
        gap: 7rem;

        .filtros_avanzados {
            padding: 2rem 4rem;
            background-color: $azulClaro;
            border-radius: 5px;
            h1 {
                font-size: 2.8rem;
            }
            div {
                display: flex;
                flex-direction: column;
                h3 {
                    font-size: 2.3rem;
                    padding-top: 1rem;
                }
                p {
                    font-size: 2rem;
                    color: $gris;
                }
                a {
                    text-decoration: none;
                    color: $blanco;
                    font-size: 1.2rem;
                    padding: .2rem;
                    margin-top: .2rem;
                }
            }
        }

        .productos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;

            .producto {
                text-align: center;

                .producto-cuerpo {
                    background-color: $grisAzulado;
                    height: 15rem;
                    .titulo {
                        font-size: 1.5rem;
                        padding: 1rem 1rem;
                    }  
                    .precio {
                        font-size: 1.8rem;
                        margin-bottom: 2rem;
                    }
                    .boton {
                        padding: 1rem 2rem;
                        font-size: 2rem;
                        background-color: $azulOscuro;
                        color: $blanco;
                        border-radius: 5px;

                        &:hover {
                            background-color: $azulClaro;
                        }
                    }
                }
            }
        }
    }
}

.contenedor_productos {
    .item-detail {
        max-width: 930px;
        width: 90%;
        margin: 0 auto;
        padding: 5rem;
        a {
            text-decoration: none;
            color: $blanco;
            font-size: 2.5rem;
            padding: 2rem;
            i {
                color: $azulClaro;
            }
        }
        div {
            display: flex;
            margin-top: 2rem;
            img {
                width: 40%;
                border: 4px solid $azulClaro;
            }
            div {
                padding: 1rem 3rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .item-count {
                    text-align: center;
                    align-items: center;
                    .count {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .boton-mas {
                            background-color: #6b6b6b;
                            margin: 0;
                        }
                        .cantidad {
                            color: $blanco;
                            font-size: 1.4rem;
                        }
                        .boton-menos {
                            background-color: #6b6b6b;
                            margin: 0;
                        }
                    }
                }
                h2 {
                    font-size: 2.3rem;
                    color: $blanco;
                }
                p {
                    font-size: 1.9rem;
                    color: $blanco;
                }
                h3 {
                    font-size: 2rem;
                    color: $blanco;
                }
                button {
                    padding: 1rem 2rem;
                    background-color: $azulClaro;
                    border: none;
                    color: $blanco;
                    border-radius: 5px;
                    margin: 0 6rem;

                    &:hover {
                        background-color: $azulOscuro;
                    }
                }
            }
        }
    }
    .mensaje {
        font-size: 2rem;
        text-align: center;
        color: $blanco;
        padding: 3rem;
    }
}

.mensaje_error {
    color: $blanco;
    padding: 5rem;
    font-size: 3rem;
    text-align: center;
}

.cart-container {
    padding: 2rem;
    margin: 0 auto;
    width: 60%;
    background-color: $azulOscuro;
    text-align: center;
    h1 {
        color: $blanco;
        font-size: 3rem;
        padding-bottom: 1.5rem;
    }
    p {
        color: $blanco;
        font-size: 1.9rem;
        padding: .3rem;
    }
    h3 {
        color: $blanco;
        font-size: 2.4rem;
        padding: 1rem 0 2rem 0;
    }
    button {
        padding: 1rem 2rem;
        color: $negro;
        background-color: $gris;
        border: none;
        cursor: pointer;
        margin: 1rem;

        &:hover {
            background-color: $grisAzulado;
            color: $blanco;
        }
    }
}

.cargando {
    color: $blanco;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}